/* @import-normalize; */

:root {
  --main-white-color: #fff;
  --main-bg-color: #d8aed3;
  --third-bg-color: #3382cc;
  --main-btn-color: #3382cc;
  --main-btn-color-hover: #50dce0;
  --secondary-btn-color: #be26cc;
  --third-btn-color: #dd40e2;

  --secondary-red: #c22828;

  --main-color: #9c27b0;
}

body {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(224, 224, 224); */
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
